{
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "useTabs": false,
  "arrowParens": "always",
  "endOfLine": "auto",
  "quoteProps": "preserve",
  "embeddedLanguageFormatting": "auto"
  
}
